@{
    ViewBag.Title = "UnAssinClassRoom";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAssign ClassRoom</title>
</head>
<body>
    <fieldset>
        <legend>UnAssign ClassRoom</legend>
        <div align="center">
            <input type="submit" value="UnAssign All Class Room" />
        </div>
    </fieldset>
</body>

